[Unit]
Description=LUMA Status
After=network.target

[Service]
ExecStart=/home/alex/luma-env/bin/python status.py
WorkingDirectory=/home/alex/git/pi-hole-porn
StandardOutput=inherit
StandardError=inherit
Restart=always
User=alex

[Install]
WantedBy=multi-user.target
