[Unit]
Description=LUMA Status
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/alex/luma-env/bin/python -u status.py
WorkingDirectory=/home/alex/git/pi-hole-porn
Restart=always
User=alex

[Install]
WantedBy=multi-user.target
